<div class="grid grid-cols-1 mt-12 gap-y-12 gap-x-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
  <% unless fundraisers.nil? %>
    <% fundraisers.each do |fundraiser| %>
      <div class="bg-white rounded-lg border border-gray-200 shadow-sm dark:bg-gray-800 dark:border-gray-700">
        <%= link_to masjid_fundraiser_path(params[:id], fundraiser['id']) do %>
          <div class="mt-4 space-y-2 px-4 pb-6">
            <div>
              <h3 class="text-xl font-bold text-gray-900 dark:text-white">
                <%= fundraiser['name'] %>
              </h3>
              <p class="text-base font-medium text-gray-500 dark:text-gray-400">
                Goal: <%= number_to_currency(fundraiser['goalAmount']) %> 
              </p>
            </div>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">
              <%= fundraiser['description'] %>
            </p>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>