<div class="grid grid-cols-1 mt-12 gap-y-12 gap-x-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
      <% unless prayers.nil? %>
        <% prayers.each do |prayer| %>
          <div>
              <img class="object-cover object-top w-full h-64 lg:h-48 rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/content-gallery-3.png"
                  alt="">
                <div class="mt-4 space-y-2">
                  <div>
                    <h3 class="text-xl font-bold text-gray-900 dark:text-white">
                      <%= prayer['name'] %>
                    </h3>
                    <p class="text-base font-medium text-gray-500 dark:text-gray-400">
                      Adhaan: <%= prayer['formattedAdhaan'] %>
                    </p>
                  </div>
                  <p class="text-base font-normal text-gray-500 dark:text-gray-400">
                    Iqaamah: <%= prayer['formattedIqaamah'] %>
                  </p>
                </div>
          </div>
        <% end %> 
      <% end %>  
    </div>