<h1>Masjids List</h1>

<% @masjids.each do |masjid| %>
  <div>
    <h2>
      <%= link_to masjid['name'], masjid_path(masjid['id']) %>
    </h2>
    <p><%= masjid['address'] %></p>
    <p><%= masjid['city'] %></p>
    <p><%= masjid['state'] %></p>
  </div>
<% end %>
